yolo11n-seg.pt
yolo26s-seg.pt
/__pycache__
FastSAM-s.pt
main(1).tex
report.tex
captures/2026-04-06T11-25-13Z.gsrecording
captures/2026-04-06T11-26-48Z.gsrecording
captures/2026-04-06T11-29-47Z.gsrecording
